<h2>All works</h2>

<p>Here is the list of all works</p>

<table>
  <tbody>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Date/Time</th>
      <th>Hours</th>
      <th>Details</th>
    </tr>
    <% @works.each do |work| %>
       <%= render partial: "work", collection: @works %>
    <% end %>
  </tbody>
</table>

<% content_for :aside do %>
    <% render 'sidebar' %>
<% end %>