<h2>Page for all projects</h2>

<p>List of all projects: </p>

<table>
  <tbody>
  <tr>
    <th>Project</th>
    <th>Company</th>
  </tr>
    <%= render partial: "project", collection: @projects %>
  </tbody>
</table>

<% content_for :aside do %>
    <% render 'sidebar' %>
<% end %>