<h2>Companies index page</h2>

<p>Here are all of the companies: </p>

<table>
  <tbody>
  <tr>
    <th>Company</th>
  </tr>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company, company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
