<h2>Company page</h2>

<%= @company.name %>

<p><%= link_to "All companies", companies_path %> </p>

<table>
  <tbody>
  <tr>
    <th>Project</th>
    <th>Company</th>
  </tr>
  <% @company.projects.each do |project| %>
    <%= render partial: 'projects/project', collection: @company.projects %>
  <% end %>
  </tbody>
</table>

<% content_for :aside do %>
    <% render 'sidebar' %>
<% end %>