<h2>Company page</h2>

<%= @company.name %>

<p><%= link_to "All companies", companies_path %> </p>

<table>
  <tbody>
  <tr>
    <th>Project</th>
    <th>Company</th>
  </tr>
  <% @company.projects.each do |project| %>
      <tr>
        <td><%= link_to project, project %></td>
        <td><%= link_to project.company, project.company %></td>
      </tr>
  <% end %>
  </tbody>
</table>