<h2>Company page</h2>

<%= @company.name %>

<p><%= link_to 'Edit Company', edit_company_path(@company) %></p>

<p><%= link_to "All companies", companies_path %> </p>

<% if @company.projects.count > 0 %>
  <table>
    <tbody>
    <tr>
      <th>Project</th>
      <th>Company</th>
    </tr>
    <% @company.projects.each do |project| %>
      <%= render partial: 'projects/project', collection: @company.projects %>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <p> No projects</p>
<% end %>


<% content_for :aside do %>
    <% render 'sidebar' %>
<% end %>