div#errors{
    color: #900;
    font-weight: bold;
}

form div.field_with_errors{
    margin-bottom: 0;
}

form div.field_with_errors label{
    color: #900;
    font-weight: bold;
}

form div.field_with_errors label::before{
    content: "*";
}